<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
  <p>
    The example list
  </p>
    <<h1> How are you doing agaaaaain! </h1>

  </body>

  <%= image_tag 'cats.png' %>

  <%= link_to 'about', about_path %>

</html>
